<body>
    <div class="sidebar">
        <img src="../../../assets/logo4.png" alt="El Muelle" class="logo">
        <nav class="navbar">
            <ul>
                <li [routerLink]="['/categoria']" [class.active]="isActive('/categoria')">
                    <span class="material-icons">menu_book</span> Categoría
                </li>
                <li [routerLink]="['/mesa']" [class.active]="isActive('/mesa')">
                    <span class="material-icons">table_restaurant</span> Mesa
                </li>
                <li [routerLink]="['/plato']" [class.active]="isActive('/plato')">
                    <span class="material-icons">flatware</span> Plato
                </li>
                <li [routerLink]="['/trabajador']" [class.active]="isActive('/trabajador')">
                    <span class="material-icons">person</span> Trabajador
                </li>
                <li [routerLink]="['/cargo']" [class.active]="isActive('/cargo')">
                    <span class="material-icons">badge</span> Cargo
                </li>
            </ul>
        </nav>
        <div class="bottom-buttons">
            <hr class="divider">
            <a href="#" class="logout">
                <span class="material-icons">logout</span> Logout
            </a>
        </div>
    </div>
    <div class="content">
        <header>
            <a href="#" class="inicio-button" [routerLink]="['/principal']">
                <span class="material-icons">home</span> Inicio
            </a>
            <div class="profile">
                <span class="material-icons">account_circle</span>
                <span class="username">Nombre Usuario</span>
            </div>
        </header>

        <main id="main-content">
            <div class="mesa-tabla-container">
                <div class="mesa">
                    <input type="number" id="mesa-numero" [(ngModel)]="numeroMesa" placeholder="Número de la mesa*">
                    <input type="number" id="mesa-capacidad" [(ngModel)]="capacidadMesa" placeholder="Capacidad de la mesa*">
                    <button (click)="agregarMesa()">{{ editMode ? 'Actualizar' : 'Agregar' }}</button>
                    <button *ngIf="editMode" (click)="cancelarEdicion()">Cancelar</button>
                </div>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Número de Mesa</th>
                                <th>Capacidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of paginatedData(); let i = index">
                                <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                                <td>{{ item.NUMERO }}</td>
                                <td>{{ item.CAPACIDAD }}</td>
                                <td class="icon-cell">
                                    <span class="material-icons clickable edit-icon" (click)="editarMesa(item)">edit</span>
                                    <span class="material-icons clickable delete-icon" (click)="confirmDelete(item.ID_MESA)">delete</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="pagination">
                        <span class="pagination-button" (click)="prevPage()" [class.disabled]="currentPage === 1">&#60;</span>
                        <span>{{ currentPage }} / {{ totalPages() }}</span>
                        <span class="pagination-button" (click)="nextPage()" [class.disabled]="currentPage === totalPages()">&#62;</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

