<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <img src="../../../assets/logo4.png" alt="" class="logo">
    </div>
    <div class="profile">
      <span class="initial">{{ inicialNombre }}</span>
      <span class="username">{{ nombreUsuario }} {{ apellidoPaterno }}</span>
      <a href="#" class="logout" (click)="logout()">
        <span class="material-icons">logout</span> Logout
      </a>
    </div>
  </nav>

  <div class="principal-container">
    <h2>¿QUÉ EMPEZARÁS A HACER HOY?</h2>
    <div class="button-row">
      <button [class.disabled]="rol !== 'ADMINISTRATIVO'" class="principal-button" (click)="openGeneral()">
        <span class="material-icons">admin_panel_settings</span> General
      </button>
      <button [class.disabled]="rol !== 'ADMINISTRATIVO' && rol !== 'MESERO'" class="principal-button" (click)="openMenu()">
        <span class="material-icons">restaurant</span> Platillos
      </button>
      <button [class.disabled]="rol !== 'ADMINISTRATIVO' && rol !== 'COCINERO'" class="principal-button" (click)="openOrdenes()">
        <span class="material-icons">draw</span> Ordenes
      </button>
    </div>
    <div class="button-row">
      <button [class.disabled]="rol !== 'ADMINISTRATIVO'" class="principal-button" (click)="openDashboard()">
        <span class="material-icons">dashboard</span> Dashboard
      </button>
    </div>
  </div>
</div>
